@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&family=Press+Start+2P&display=swap');

:root {
    --cor-logo: #E5E5E5;
    --cor-fundo-header-footer: #5300C8;
    --cor-titulos-subtitulos: black;
    --fonte--principal: "Press Start 2P", system-ui;
    --fonte--secundaria: "IBM Plex Mono", monoespaçado;
    --cor-fundo-btn1: #03318C;
    --cor-fundo-btn2: #E5E5E5;
}


/* CABEÇALHO */
.cabecalho {
    background: var(--cor-fundo-header-footer);
    padding: 20px 0px;
    box-shadow: 0px 7px 1px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO O MAIN */

.container-principal {
    display: flex;
    justify-content: space-evenly;
    padding: 110px 70px;
}

/* SEÇÃO DE PRODUTOS */

h1 {
    font-family: var(--fonte--principal);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    font-family: var(--fonte--principal);
    font-size: 1.5rem;
    color: #E5E5E5;
    font-weight: 400;
}

p {
    font-family: var(--fonte--secundaria);
    color: black;
}

.produtos {
    padding: 40px;
    max-width: 758px;
    width: 100%;
}

.card__geral {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 10px;
    justify-content: center;
    height: 58vh;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: -12px 10px 6px 0px rgba(0, 0, 0, 0.2);
}

span {
    font-family: var(--fonte--secundaria);
    font-weight: 600;
}

.card__geral::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

.card__geral::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--cor-fundo-header-footer);
    padding: 8px;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: -5px 6px 3px 2px rgba(0, 0, 0, 0.2);
    max-width: 196px;
    width: 100%;
}

.img-produtos {
    max-width: 176px;
    width: 100%;
    height: 174px;
    border-radius: 3px;
    border: 4px solid black;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    color: #FFFFFF;
}

.card-container--value {
    display: flex;
    justify-content: space-between;
}

.botoes-deletar {
    background-color: transparent;
}

.preço {
    font-weight: 600;
}

/* SEÇÃO ADICIONAR PRODUTOS */

.adicionar-produtos {
    max-width: 472px;
    width: 100%;
    height: 517px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}


form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

input {
    width: 100%;
    height: 58px;
    padding: 0px 10px;
    border: solid;
    border-radius: 30px;
    border-color: #03318C;
    font-family: "IBM Plex Mono", monoespaçado;
    font-size: 1rem;
    font-weight: 700;
}

input::placeholder {
    color: #03318C;
}

.botoes-form {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    font-family: "IBM Plex Mono", monoespaçado;
    font-size: 20px;
}

.botoes-form, .botoes-deletar:hover {
    cursor: pointer;
}

.botoes {
    display: flex;
    gap: 13px;
}

.btn-guardar {
    background: #03318C;
    border: solid black 1px;
    color: #FFFFFF;
}

.btn-guardar:active {
    background-color: white;
    color: #03318C;
}

.btn-limpar {
    border: solid #03318C 4px;
    color: #03318C;
    background-color: #FFFFFF;
}

.btn-limpar:active {
    background-color: #03318C;
    color: white;
}

/* RODAPÉ */

footer {
    background: #5300C8;
    text-align: center;
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.logo-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragrafo__rodape1 {
    font-weight: 400;
    font-family: var(--fonte--secundaria);
    color: white;
}

.paragrafo__rodape2 {
    font-weight: 100;
    font-family: var(--fonte--secundaria);
    color: white;
}

/* MOBILE */

@media screen and (max-width: 768px) {
    
    .container-principal {
        flex-direction: column-reverse;
        align-items: center;
        padding: 70px 5px;
        gap: 58px;
    }

    .produtos {
        padding: 4px;
    }

    .card__geral {
        height: 100%;
        box-shadow: none;
        justify-content: normal;
    }

    .card {
        width: 46%;
        height: auto;
    }

    .adicionar-produtos {
        padding: 40px;
    }

}